<!DOCTYPE html>
{% load static %}
<html>
    <head> 
        <title> 
            {% block  title %} My Blogz {% endblock %}
        </title>
        <link rel="stylesheet" href="{% static "css/style.css" %}">
    </head>

    <body>
        <nav>

            <p><a href="/"> My Blogz </a></p>

            {{user}}

            <div class="link">
                {% if user.is_authenticated %}
                    <a href="/create-post"> <button> Create Post </button> </a>
                    <a href="/my-posts"> <button> My Post </button> </a>
                    <a href="/profile"> <button> Profile </button> </a>
                    <a href="/logout"> <button> Logout </button> </a>
                {% else %}
                    <a href="/signin"> <button> SignIn </button> </a>
                    <a href="/signup"> <button> SignUp </button> </a>
                {% endif %}
            </div>

        </nav>

        <main class="container">
            {% block content %} {% endblock %}
        </main>

    </body>

</html>