<!DOCTYPE html>
{% load static %}
<html>
    <head> 
        <title> 
            {% block  title %} My Blogz {% endblock %}
        </title>
        <link rel="stylesheet" href="{% static "css/style.css" %}">
    </head>

    <body>
        <nav>

            <p><a href="/"> My Blogz </a></p>

            <div class="link">
                <a href="/create-post"> <button> Create Post </button> </a>
                <a href="/"> <button> Profile </button> </a>
                <a href="/"> <button> Logout </button> </a>
                <a href="/"> <button> SignIn </button> </a>
                <a href="/"> <button> SignUp </button> </a>
            </div>

        </nav>

        <main class="container">
            {% block content %} {% endblock %}
        </main>

    </body>

</html>