{% extends "./base.html" %}

{% load static%}

{% block content %}

<div class="form-container">

    <form method="post">
        {% csrf_token %} 

        {% if success %}
            <p class="success"> {{success}} </p>
        {% endif %}

        <label for="title"> Title: </label>
        <input id="title" type="text" name="title" required />

        <label for="content"> Content: </label>
        <textarea required id="content" name="content"></textarea>

        <button> Create Post </button>

    </form>

</div>

{% endblock %}